@charset "UTF-8";
@import "reset";

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

input[type=checkbox] {
  display: none;
}

.checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  width: auto;
}

.checkbox::before {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  content: '';
  display: block;
  height: 25px;
  width: 25px;
  left: 5px;
  margin-top: -12.5px;
  position: absolute;
  top: 50%;
  background-color: none;
}

.checkbox::after {
  opacity: 0;
  content: '';
  display: block;
  height: 10px;
  left: 11px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  width: 14px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.74999%208.14995L1.59999%204.99995L0.549988%206.04995L4.74999%2010.25L13.75%201.24995L12.7%200.199951L4.74999%208.14995Z%22%20fill%3D%22white%22%2F%3E%3C%2Fsvg%3E');
}

input[type=checkbox]:checked + .checkbox::after {
  opacity: 1;
}

input[type=checkbox]:checked + .checkbox::before {
  background-color: #CAD830;
}

